.navbar {
  flex-direction: column;
}

.navbar-collapse {
  width: 100%;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.d-flex {
  justify-content: flex-end;
  margin-top: 10px;
  /* Adjust the margin as needed */
}

@media screen and (min-width: 992px) {
  .navbar {
    flex-direction: row;
  }

  .navbar-collapse {
    width: auto;
  }

  .navbar-nav {
    width: auto;
    text-align: left;
  }

  .d-flex {
    margin-top: 0;
  }
}
